<div class="row m-3">
  <div class="col-12">
    <h1>アニメ一覧</h1>


  <div class="row">
    <%= render partial: 'work', collection: @works %>
  </div>

</div>

<div class="m-3">
<%= paginate @works %>
</div>
