<div class="row m-3">
  <div class="col-12">

<%= render 'search_form', q: @q, url: works_path %>

<div class="row">
    <%= render partial: 'work', collection: @works %>
  </div>

</div>

<div class="m-3">
<%= paginate @works %>
</div>


