<div class="card mt-3 mx-3 p-0" style="width: 18rem;">
	<div class="card-title text-center card-header">
   
   <h5 class="text-truncate"><b><%= cast.work["title"] %></b></h5>
   <p class="text-truncate"><%= cast["character_name"] %></p>
   <p class="text-truncate">声優ID: <%= cast["person_id"] %></p>
  </div>
</div>